# Скрытые переменные окружения (ТУТ ТОКЕН, ЕГО НЕЛЬЗЯ СЛИВАТЬ!)
.env

# Файл базы данных со статистикой (чтобы не затирать чужую стату)
stats.json

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения (если будешь использовать)
venv/
env/
.venv/